.user {
  display: flex;
}

.info {
  border-radius: 5px;
  padding: 10px;
  background-color: #26262c;
  flex-basis: 75%;
}

.name {
  font-size: 1.6rem;
  font-weight: normal;
}

.about {
  margin-top: 10px;
  list-style: none;
}

.contacts {
  list-style: none;
}

.contLI {
  margin-top: 10px;
}
