.user {
  display: flex;
  border-radius: 5px;
  background-color: #26262c;
  overflow: hidden;
}

.avatar {
  height: 200px;
}

.info {
  padding: 10px;
}

.name {
  font-size: 1.6rem;
  font-weight: normal;
}

.about {
  margin-top: 10px;
  list-style: none;
}

.contacts {
  list-style: none;
}

.contLI {
  margin-top: 10px;
}
