.posts {
  background-color: #26262c;
  border-radius: 5px;
  margin-top: 15px;
  padding: 10px;
}

.title {
  font-weight: normal;
}

.textarea {
  display: block;
  width: 100%;
  resize: none;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  margin-top: 10px;
}

.button {
  margin-top: 10px;
}

.postsList {
  margin-top: 20px;
}