.textarea {
  color: white;
  background-color: #29292c;
  border: none;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #141414;
  resize: vertical;
  width: 280px;
  vertical-align: top;
}

.textarea:focus {
  box-shadow: 0 0 5px #108de2;
}

.error {
  background-color: #ff837b;
  border-radius: 5px;
  padding: 5px;
  display: block;
  margin-top: 5px;
}
