.textarea {
  color: white;
  background-color: #29292c;
  border: none;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #141414;
  resize: vertical;
}

.textarea:focus {
  box-shadow: 0 0 5px #108de2;
}

.error {
  border: 2px solid red;
}
