.avatar {
  background-color: #26262c;
  margin-right: 15px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  padding: 15px;
  min-width: 225px;
}

.avatarWrapper {
  position: relative;
  height: 100%;
}

.avatarIMG {
  display: block;
  max-width: 100%;
}

.upload {
  display: flex;
  justify-content: center;
}

.uploadInput {
  width: 0;
  height: 0;
}

.uploadInput:focus + .uploadLabel {
  box-shadow: 0 0 0 2px #106fc1;
}

.uploadLabel {
  background-color: #29292c;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px #141414;
  width: 100%;
  text-align: center;
  margin-top: 18px;
  color: #eeeeee;
  cursor: pointer;
}

.uploadLabel:hover {
  background-color: #3d3d42;
}

.sendMessage {
  margin-top: 10px;
}

.buttonText {
  margin-right: 6px;
}
