.wrapper {
  flex-grow: 1;
  background-color: #26262c;
  padding: 30px 80px;
  overflow: auto;
  position: relative;
}

.wrapper::-webkit-scrollbar {
  width: 3px;
}

.wrapper::-webkit-scrollbar-track {
  background-color: #939393;
}

.wrapper::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #35353b;
  border-radius: 3px;
}
