.header {
  background-color: #18181b;
  box-shadow: 0 -4px 2px 6px black;
  height: 60px;
  display: flex;
  align-items: center;
}

.container {
  width: 60%;
  min-width: 650px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
