@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

.header {
  background-color: #18181b;
  box-shadow: 0 -4px 2px 6px black;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 60%;
  min-width: 900px;
}

.userName {
  font-weight: bold;
  margin-right: 10px;
}

.avatar {
  margin-right: 10px;
}

.avatar > img {
  border-radius: 50%;
  width: 40px;
}

.avatar > img:hover {
  transform: scale(1.05);
}

.infoMe {
  display: flex;
  align-items: center;
}

.infoMe a {
  text-decoration: none;
}

.infoMe a:hover {
  text-decoration: underline;
}

.title {
  font-size: 18px;
  font-family: 'Righteous', cursive;
  cursor: pointer;
  background-image: url('../../assets/background.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 0;
}

.title:hover {
  background-size: cover;
}
