.info {
  border-radius: 5px;
  padding: 15px 20px;
  background-color: #26262c;
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userName {
  font-size: 1.4em;
  font-weight: normal;
}
