.menu {
  list-style: none;
  padding-right: 10px;
}

.menuLink {
  display: block;
  width: 160px;
  padding: 8px;
  border-radius: 2px;
  text-decoration: none;
}

.menuLink:hover {
  background-color: #1f1f23;
}

.active {
  text-decoration: underline;
}

.messagesCount {
  display: block !important;
  margin-left: 50px !important;
  text-decoration: none !important;
  color: red !important;
  background-color: red !important;
  transform: scale(2) !important;
}
