.menu {
  list-style: none;
  padding-right: 10px;
}

.menuItem {
  display: flex;
  align-items: center;
}

.menuLink {
  display: block;
  width: 160px;
  padding: 8px;
  border-radius: 2px;
}

.menuLink:hover {
  background-color: #1f1f23;
}

.menuLink {
  text-decoration: none;
}

.active > .linkText {
  text-decoration: underline;
}

.linkText {
  display: inline-block;
  margin-left: 10px;
}

.linkIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
}
